---
import Tag from "../components/Tag.astro";
import BlogLayout from "./BlogLayout.astro";

const {frontmatter} = Astro.props;
---

<BlogLayout pageTitle={frontmatter.title}>
    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p class="description">{frontmatter.description}</p>

    <slot/>

    <img class="image" src={frontmatter.image.url} alt={frontmatter.image.alt}/>

    <div class="tags">
        {frontmatter.tags.map((tag) => (
                <Tag tagName={tag}/>
        ))}
    </div>
</BlogLayout>

<style>
    * {
        font-family: sans-serif;
    }

    .description {
        font-style: italic;
    }

    .image {
        max-width: 100%;
        border-radius: 0.5rem;
    }

    a {
        color: #00539F;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }
</style>
